In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests

## World Bank Data Cleaning

In [2]:
# Storing columns to keep in a list to re-iterate over multiple csv's
columns_to_keep = ["Country Name", "Country Code", "Indicator Name", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"]

rows_to_remove = ["ARB", "CEB", "EUU", "EAP", "EAR", "EAS", "ECA", "ECS", "EMU", "FCS", "HIC", "HPC", "IBT", "IBD", "IDB", "IDA", "IDX", "INX", "LAC", "LIC", "LDC", "LCN", "LMC", "LMY", "LTE","LMY", "MIC", "MEA", "MNA", "NAC", "OED", "OSS", "PRE", "PST", "SAS", "SSA", "SSF", "SST", "TEA", "TEC", "TLA", "TMN", "TSA", "TSS", "UMC"]

In [3]:
# Final length of list should be 265 - len(rows_to_remove)
len(rows_to_remove)

45

In [4]:
# Loading raw world bank data and adding to a list
CO2_data = pd.read_csv('raw_data/CO2emissions_data.csv', error_bad_lines=False)

GDP_data = pd.read_csv('raw_data/GDPpercapita-data.csv', error_bad_lines=False)

Renewable_data = pd.read_csv('raw_data/Renewable_energy.csv', error_bad_lines=False)

csv_list = []

csv_list = [CO2_data, GDP_data, Renewable_data]

In [5]:
#Loop through each world bank csv and clean at the same time 
for csv in csv_list:

    # Filtering to only columns to keep 
    csv.drop(columns=[col for col in csv if col not in columns_to_keep], inplace=True)

    # Rename columns 
    csv.rename(columns={"country_name":"Country Name","country_code":"Country Code","indicator_name":"Indicator Name"}, inplace = True)

    # Set Country code as the index 
    csv.set_index("Country Code", inplace=True)
    
    # Drop any indices that are non-countries ex. MIC is for the all Middle Income countr CO2 emissions
    csv.drop(index=["ARB", "CEB", "EUU", "EAP", "EAR", "EAS", "ECA", "ECS", "EMU", "FCS", "HIC", "HPC", "IBT", "IBD", "IDB", "IDA", "IDX", "INX", "LAC", "LIC", "LDC", "LCN", "LMC", "LMY", "LTE","LMY", "MIC", "MEA", "MNA", "NAC", "OED", "OSS", "PRE", "PST", "SAS", "SSA", "SSF", "SST", "TEA", "TEC", "TLA", "TMN", "TSA", "TSS", "UMC"], inplace=True)

In [6]:
#Checking to confirm cleaning is correct
GDP_data.head(5)

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
ABW,Aruba,GDP per capita growth (annual %),5.427608,-5.107188,-5.405878,-0.152951,6.031742,-0.094958,0.245883,1.410010,-0.224764,-10.605300,-3.887760,3.063882,-1.864168,3.593198,-0.294412,5.125616
AFG,Afghanistan,GDP per capita growth (annual %),NaN,NaN,NaN,3.868362,-2.875184,7.207933,2.253357,11.022774,1.594211,18.515369,11.264133,-2.681081,8.974880,1.974169,-0.665271,-1.622887
AGO,Angola,GDP per capita growth (annual %),-0.267945,0.822114,9.943764,-0.431851,7.187036,11.030836,7.582329,9.890012,7.116873,-2.808634,0.640294,-0.220851,4.706498,1.292041,1.219835,-2.468719
ALB,Albania,GDP per capita growth (annual %),7.633866,9.311124,4.853922,5.925630,5.951881,6.071391,6.570332,6.783927,8.328036,4.048888,4.223038,2.821558,1.585156,1.187204,1.985426,2.516853
AND,Andorra,GDP per capita growth (annual %),1.913452,4.986929,0.504741,4.040888,3.792889,1.892421,2.057546,-0.523712,-6.885786,-5.976668,-1.958707,0.830102,-3.452688,-1.573746,4.524456,2.997046

## Manipulating Cleaned World Bank Data

In [7]:
# Slice out World CO2 emissions 
world_CO2= CO2_data.loc["WLD"]

world_CO2

Country Name                   World
Indicator Name    CO2 emissions (kt)
2000                 23918172.187422
2001                 24101535.279574
2002                 24634020.255788
2003                 25893535.033145
2004                 27106644.134534
2005                 28043870.884737
2006                 29021469.960864
2007                 29513157.394651
2008                 30680656.021326
2009                 29915812.396866
2010                 31927784.123311
2011                 33090763.411553
2012                 33683606.846031
2013                 33848272.799064
2014                 34103192.880726
2015                 34040671.314996
Name: WLD, dtype: object

In [8]:
# Drop World emissions
CO2_data.drop(index=["WLD"], inplace=True)

# Slice top 20 countries with highest CO2 emissions
top20_CO2df = CO2_data.nlargest(20, '2015')

# Sort Country Names alphabetically 
top20_CO2df.sort_values("Country Name", inplace= True)

top20_CO2df.head(5)

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
AUS,Australia,CO2 emissions (kt),329443.280,324844.862,341353.696,336271.234,342699.485,350172.831,365346.877,372090.490,385904.079,394792.887,390861.863,391818.950,3.881263e+05,3.723178e+05,3.613168e+05,3.653322e+05
BRA,Brazil,CO2 emissions (kt),327983.814,337433.673,332266.870,321621.569,337826.042,347308.904,347668.270,363212.683,387631.236,367147.374,419754.156,439412.943,4.700287e+05,5.036771e+05,5.335302e+05,5.043885e+05
CAN,Canada,CO2 emissions (kt),534380.909,527926.989,519335.208,553100.944,553357.634,561425.034,571993.328,571846.648,561791.734,532191.710,527263.262,522774.854,5.177217e+05,5.191885e+05,5.406148e+05,5.494303e+05
CHN,China,CO2 emissions (kt),3405179.867,3487566.356,3850269.326,4540417.061,5233538.733,5896957.705,6529291.518,6697654.489,7553070.247,7557789.676,8776040.416,9733538.120,1.002857e+07,1.025801e+07,1.029193e+07,1.014500e+07
DEU,Germany,CO2 emissions (kt),829977.779,853662.932,829724.756,823003.145,815969.839,797759.517,816721.574,781247.016,779296.172,720547.165,757880.892,729810.007,7.381414e+05,7.579616e+05,7.203638e+05,7.270451e+05

In [9]:
# Store Top 20 country codes in a list 
top20_countrycodes_list = []
top20_countrycodes_list = top20_CO2df.index.tolist()
top20_countrycodes = pd.DataFrame(top20_countrycodes_list)

In [10]:
# Store Top 20 Countries-GDP chart 
top20_GDP= GDP_data.loc[top20_countrycodes_list]
top20_GDP.sort_values("Country Name", inplace= True)
top20_GDP.head()

,Country Name,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Code,,,,,,,,,,,,,,,,,,
AUS,Australia,GDP per capita growth (annual %),2.701329,0.565689,2.739716,1.722900,2.856049,1.851139,1.289214,3.197560,1.601302,-0.142471,0.492053,1.048854,2.119684,0.834364,1.015114,0.732407
BRA,Brazil,GDP per capita growth (annual %),2.911826,0.013370,1.709474,-0.122936,4.497077,2.026307,2.834754,4.974705,4.054410,-1.081944,6.524373,3.026407,1.014510,2.108912,-0.352479,-4.351484
CAN,Canada,GDP per capita growth (annual %),3.945219,0.309870,2.303577,2.879570,2.948998,4.008878,3.118693,5.835793,-0.080295,-4.030420,1.949628,2.142309,0.663248,1.253614,1.841026,-0.089286
CHN,China,GDP per capita growth (annual %),7.638598,7.551655,8.404880,9.354777,9.461559,10.741375,12.093305,13.635820,9.090280,8.855948,10.102833,9.027174,7.339469,7.235409,6.883229,6.498792
DEU,Germany,GDP per capita growth (annual %),2.773221,1.510558,-0.365628,-0.755077,1.197055,0.788917,3.933610,3.114246,1.152030,-5.454577,4.339607,5.869636,0.230161,0.163871,1.784342,0.617105

In [11]:
# Store Top 20 Countries-Renewable Energy chart 
top20_Renewable= Renewable_data.loc[top20_countrycodes_list]
top20_Renewable.sort_values("Country Name", inplace= True)
len(top20_Renewable)

20

## Exporting to clean CSVs

In [12]:
top20_CO2df.to_csv("top20_CO2df.csv", index=True)

CO2_data.to_csv("CO2_data.csv", index=True)

top20_GDP.to_csv("top20_GDP.csv", index=True)

GDP_data.to_csv("GDP_data.csv", index=True)

top20_Renewable.to_csv("top20_Renewable.csv", index=True)

Renewable_data.to_csv("Renewable_data.csv", index=True)

world_CO2.to_csv("top20_Renewable.csv", index=True)

top20_countrycodes.to_csv("top20_countrycodes_list.csv", index=True)

## Protected Planet API pull

In [13]:
# Read in Protected Planet csv 
planet_data= pd.read_csv('raw_data/Protected_Planet.csv', error_bad_lines=False)

#Print column names to determine which to keep 
for col in planet_data.columns:
    print(col)

TYPE
WDPAID
WDPA_PID
PA_DEF
NAME
ORIG_NAME
DESIG
DESIG_ENG
DESIG_TYPE
IUCN_CAT
INT_CRIT
MARINE
REP_M_AREA
GIS_M_AREA
REP_AREA
GIS_AREA
NO_TAKE
NO_TK_AREA
STATUS
STATUS_YR
GOV_TYPE
OWN_TYPE
MANG_AUTH
MANG_PLAN
VERIF
METADATAID
SUB_LOC
PARENT_ISO3
ISO3
SUPP_INFO
CONS_OBJ

In [14]:
# Reduce to required columns only 
pp_columns = ["TYPE", "WDPAID", "WDPA_PID", "NAME", "REP_M_AREA", "STATUS_YR", "PARENT_ISO3"]

reduced_planet= planet_data[pp_columns]

reduced_planet

,TYPE,WDPAID,WDPA_PID,NAME,REP_M_AREA,STATUS_YR,PARENT_ISO3,ISO3
0,Polygon,10507,10507,Victoria Forest,0.0,1981,NZL,NZL
1,Polygon,813,813,Tongariro National Park,0.0,1907,NZL,NZL
2,Polygon,10490,10490,Tararua Forest,0.0,1996,NZL,NZL
3,Polygon,808,808,Fiordland National Park,0.0,1978,NZL,NZL
4,Polygon,809,809,Mount Aspiring National Park,0.0,1964,NZL,NZL
...,...,...,...,...,...,...,...,...
10033,Polygon,10712,10712,Tsentral'nolesnoy,0.0,1985,RUS,RUS
10034,Polygon,10717,10717,Pechoro-Ilychskiy,0.0,1984,RUS,RUS
10035,Polygon,10719,10719,Sokhondinskiy,0.0,1984,RUS,RUS
10036,Polygon,11592,11592,Baikalsky,0.0,1986,RUS,RUS
10037,Polygon,12443,12443,Tzentralnosibirskii,0.0,1986,RUS,RUS

In [25]:
# Create a mask to filter years between 2000 and 2015 to match the world bank timeline
planet_year_mask = (reduced_planet["STATUS_YR"] >=2000) & (reduced_planet["STATUS_YR"] <=2015)

pp_data = reduced_planet.loc[planet_year_mask]
pp_data

,TYPE,WDPAID,WDPA_PID,NAME,REP_M_AREA,STATUS_YR,PARENT_ISO3,ISO3
95,Polygon,1590,1590,Pukeamaru,0.000000,2012,NZL,NZL
96,Polygon,810,810,Te Urewera,0.000000,2014,NZL,NZL
108,Polygon,1630,1630,Dilijan,0.000000,2002,ARM,ARM
131,Polygon,4471,4471,Hajarikhil,0.000000,2010,BGD,BGD
141,Polygon,7972,7972,Ramsagar,0.000000,2001,BGD,BGD
...,...,...,...,...,...,...,...,...
9667,Polygon,14753,14753,Malampaya Sound Protected Landscape,1121.713420,2000,PHL,PHL
9684,Polygon,841,841,Mts. Banahaw-San Cristobal Protected Landscape,0.000000,2009,PHL,PHL
9810,Polygon,18232,18232,Silent Lake Provincial Park (Natural Environme...,0.000000,2000,CAN,CAN
9823,Polygon,4168,4168_D,Whiteshell Provincial Park,0.000000,2014,CAN,CAN
10025,Polygon,14075,14075,Shoal Bay and Island Harbour Reefs,17.777684,2007,GBR,AIA